<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Test</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to <%= user.username%>'s profile</h1>
    </header>
    <main>
        <p>To do: To Do List</p>
    </main>
</body>
</html>